@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Iso&display=swap');

.logoFont {
  background-color: rgb(217, 4, 41);
  display: flex;
  flex-direction: row;
  background-color: 'D90429';
  justify-content: space-between;
  align-items: center;
}

.logoFont .logoLink {
  text-decoration: none;
}

.logo {
  padding-left: 20px;
  color: white;
  font-family: 'Rubik Iso', cursive;
}

.font {
  padding-right: 30px;
  font-size: 2rem;
  color: white;
}

.nav-elem {
  background-color: rgb(217, 4, 41);
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 35%;
}

ul {
  list-style-type: none;
}

li .link {
  color: white;
  font-size: 4rem;
  text-decoration: none;  
  transition: letter-spacing 1s;
}

li .link:hover {
  letter-spacing: 1rem;
  color:rgb(1, 0, 15);
}

li .link::before {
  content: '\2192';
  font-size: 4rem;
  display: none;
  margin-right: 2rem;
}

li .link:hover::before {
  display: inline-block;
  color: yellow;
}

/*Styling the navbar component*/
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgb(217, 4, 41);
  z-index: 10;
}

.backtotop {
  background: linear-gradient(218deg, rgba(253,29,29,1) 47%, rgba(252,176,69,1) 81%, rgba(131,58,180,1) 100%);  z-index: 5;
  border-radius: 50%;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: 1;
}

/*End of navbar component*/

/****************************Styling the home component***************************************/
.home1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.home1 .homeParagh {
  font-size: 2rem;
  margin-right: 2em;
  text-align: justify;
  text-shadow: 1rem;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  padding: 40px;
}
.homeImage1 {
  border-radius: 72% 28% 30% 70% / 61% 45% 55% 39%;
  width: 50%;
  height: 40%;
}

.image1Content {
  background-color: rgb(11, 9, 10);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  padding-left: 2em;
  box-shadow: -20px 20px 80px rgb(217, 4, 41);
}

.home2 {
  background-color: radial-gradient(circle, #d90429, #c0041e, #a70315, #8f020b, #780000);
}