@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Iso&display=swap');

.logoFont {
  background-color: rgb(217, 4, 41);
  display: flex;
  flex-direction: row;
  background-color: 'D90429';
  justify-content: space-between;
  align-items: center;
}

.logoFont .logoLink {
  text-decoration: none;
}

.logo {
  padding-left: 20px;
  color: white;
  font-family: 'Rubik Iso', cursive;
}

.font {
  padding-right: 30px;
  font-size: 2rem;
  color: white;
}

.nav-elem {
  background-color: rgb(217, 4, 41);
  /* align-items: center; */
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 35%;
  margin-top: 30px;
}

ul {
  list-style-type: none;
}

ul li .link {
  color: white;
  font-size: 4rem;
  text-decoration: none;  
  transition: letter-spacing 1s;
}

ul li .link:hover {
  letter-spacing: 1rem;
  color:rgb(1, 0, 15);
}

ul li .link::before {
  content: '\2192';
  font-size: 4rem;
  display: none;
  margin-right: 2rem;
}

ul li .link:hover::before {
  display: inline-block;
  color: yellow;
}

/*Styling the navbar component*/
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgb(217, 4, 41);
  z-index: 10;
}

.backtotop {
  background: linear-gradient(218deg, rgba(253,29,29,1) 47%, rgba(252,176,69,1) 81%, rgba(131,58,180,1) 100%);  z-index: 5;
  border-radius: 50%;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: 1;
}

/*End of navbar component*/

/**************************** HOME COMPONENT START ***************************************/
.home1 {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 15px;
}

.home1 .homeParagh {
  font-size: 2rem;
  margin-right: 2em;
  text-align: justify;
  text-shadow: 1rem;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  padding: 40px;
}

.homeImage1 {
  border-radius: 72% 28% 30% 70% / 61% 45% 55% 39%;
  width: 50%;
  height: 40%;
}

.image1Content {
  background-color: rgb(11, 9, 10);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  padding-left: 2em;
  box-shadow: -10px -10px 40px rgb(217, 4, 41);
}

.home2 {
  background-color: radial-gradient(circle, #d90429, #c0041e, #a70315, #8f020b, #780000);
}

.captionh2 {
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  font-weight: 700;
}

.captionp {
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .captionh2 {
    margin-top: 1rem;
    font-size: 1rem;
    font-family: 'Pacifico', cursive;
    font-weight: 700;
  }
  
  .captionp {
    font-size: 1rem;
    font-family: 'Pacifico', cursive;
    font-weight: 500;
  }
  .home1 {
    display: flex;
    flex-direction: column;
  }

  .home1 .homeParagh {
    font-size: 1.5rem;
    margin: 1em;
    font-weight: 600;
    text-align:justify;
    text-shadow: 1rem;
    padding: 15px;
  }

  .logo {
    font-size: 1.5rem;
    padding-left: 10px;
  }

  .font {
    padding-right: 10px;
  }

  ul li .link {
    font-size: 1.2rem;  
    transition: letter-spacing 0.5s;
    font-weight: 500;
  }

  ul li .link:hover::before {
    margin-right: 0.5rem;
    font-size:smaller;
  }

  .nav-elem {
    padding-left: 25px;
  }

  nav ul {
    margin-top: 50px;
  }
}
/**************************** HOME COMPONENT END ***************************************/

/*********************** FOOTER START ***************************/

/*********************** FOOTER END ***************************/